.accordion-toggle {
    cursor: pointer;
    padding: 1rem;
    width: 60%;
    text-align: left;
    border: none;
    outline: none;
    transition: .5s;
}


.accordion-toggle:after {
    content: "\02795";
    font-size: .875rem;
    color: #1A1B41;
    float: right;
    margin-left: 5px;
}


.active:after {
    content: "\2796";
}

.panel {
    padding: 0 1rem;
    background-color:rgba(255, 255, 255, 40);
    display: none;
    overflow: hidden;
    max-height: 0;
    transition: max-height .3s ease-out;
    border-radius:5px;
    width:60%;
    margin-top:3px;
    padding:5px 5px 25px 5px;
}


$unchecked-star: '\2606';
$unchecked-color: #888;
$checked-star: '\2605';
$checked-color: goldenrod;
.star-cb-group {

    font-size: 0;
    * {
        font-size: 1.5rem;
    }
    unicode-bidi: bidi-override;
    direction: rtl;
    &>input {
        display: none;
        &+label {

            display: inline-block;
            overflow: hidden;
            text-indent: 9999px;
            width: 1em;
            white-space: nowrap;
            cursor: pointer;
            &:before {
                display: inline-block;
                text-indent: -9999px;
                content: $unchecked-star;
                color: $unchecked-color;
            }
        }
        &:checked~label:before,
        &+label:hover~label:before,
        &+label:hover:before {
            content: $checked-star;
            color: goldenrod;
            text-shadow: 0 0 1px #333;
        }
    }

    &>.star-cb-clear+label {
        text-indent: -9999px;
        width: .5em;
        margin-left: -.5em;
    }
    &>.star-cb-clear+label:before {
        width: .5em;
    }
    &:hover>input+label:before {
        content: $unchecked-star;
        color: $unchecked-color;
        text-shadow: none;
    }
    &:hover>input+label:hover~label:before,
    &:hover>input+label:hover:before {
        content: $checked-star;
        color: $checked-color;
        text-shadow: 0 0 1px #333;
    }
}


fieldset {
    border: 0;
    border-radius: 1px;
    padding: 1em 1.5em 0.9em;
    margin: 1em auto;
}

#log {
    margin: 1em auto;
    width: 5em;
    text-align: center;
    background: transparent;
}

p {
    padding-left:10px;
}

#review {
    width:90%;
}


.result-name {
    color: white;
    padding-top: 15px;
    font-weight: bold;
    font-size: 1.5em;
}

#result-description {
    color: white;
    text-align: center;
}

.search-result-image {
    max-width: 40%;
}

@media only screen and (max-width:780px) {
    .top-drink-img {
        max-width: 70%;
    }
    .panel, .accordion-toggle{
        width:80%;
    }
}

#name {
    max-width:90%;
}