.dark-blue {
    color: #283143;
}

.medium-dark-blue {
    color: #43617D;
}

.medium-blue {
   color:#5A8DAB;
}

.light-blue {
    color:#B5D3DB;
}

.grey {
    color: #DAD2C7;
}

#submit-button {
    background-color:#5A8DAB;
}

