.modal {
position: fixed;
z-index: 1;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
// background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius:5px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#day, #month, #year {
    width: 24%;
}

.modal-form {
    width:60%;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-content: center;
}

.modal-submit {
    margin-left:5%;
    border-radius:3px;
    background-color:#5A8DAB;
    padding:7px;
    border:none;
    box-shadow:none;
}

.modal-submit:hover {
    background-color:#B5D3DB;
    transition:0.3s;
}

input {
    border-radius:3px;
    box-shadow:none;
}

@media (max-width:658px){
    .modal-form {
        width: 90%;
    }
    #day,#month,#year {
        width: 25%;
    }
}