.top-a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    margin:0.5em 0;
    text-decoration: none;
    font-size: 1em;
    background-color:#283143;
    border-radius:5px;
}

.top-a:hover {
    background-color:#5A8DAB;
    transition: 0.5s;
}

a i {
    padding-right:5px;
}

button {
    background: #5A8DAB;
    font-size: 1em;
    cursor: pointer;
    padding:1em;
    border:none;
    border-radius:3px;
    margin-left:3px;
}

button:hover  {
    background-color:#283143;
    transition:0.5s;
}

.accordion-toggle {
    border-radius:5px;
    max-width:80%;
}


.top-shelf-logo {
    max-width:550px;
    padding-top:5vh;
    margin:0 auto;
}

.main-search-box {
    line-height:2.5;
    width:100%;
    border:4px solid white;
    border-radius:3px;
}

.main-search-form {
    margin:0.5em 0;
}

.width-hundred{
    width:100%;
}

.form-width {
    width: 30vw;
}

@media only screen and (max-width:956px) {
    .form-width {
        width: 70vw;
    }
    .top-logo {
        display:inline-block;
        align-self:center;
    }
}

@media only screen and (max-width:525px) {
    .form-width {
        width: 90vw;
    }
        .top-logo {
        display:inline-block;
        align-self:center;
    }
}

.hide {
    display:none;
}

.show {
    display:block;
}

.hamburger {
    color:grey;
    position:fixed;
    top:5px;
    right:20px;
    z-index:6;
}

nav {
    z-index:5;
    display:block;
    position:absolute;
    background-color:rgba(255, 255, 255, 0.7);
    top:0;
    right:0;
    left:0;
    bottom:0;
    text-align:center;
}

.top-search-box {
    line-height:2.5;
    border: 4px solid white;
    border-radius: 3px;
    width:100%;
}

h1, h2 {
    color:white;
}

.top-logo {
    max-width: 15%;
}

.fa-search{
color:white;
}














