.top-drinks {
    color:white;
}

h1,h2 {
    text-align: center;
}

.top-title {
    margin-top:5%;
}


hr {
    background-color: white;
    border-width: 0;
    height: 2px;
    line-height: 0;
    margin: auto;
    text-align: center;
    width: 50%;
}

.top-drink-img {
    max-width:100%;
}

@media only screen and (min-width:723px) {
    .top-drink-img {
        width:60%;
    }
    .top-title {
        margin-top: 1%;
    }

}


